
body{
  background-color: #deb492
}

div.gallery{
    margin: 170px;
    float: left;
    width: 180px;
  }
}

div.gallery img {
  width: 50%;
  height: auto;
}


h1{
  margin: 10px;
 color: white;
 text-align: center;
 padding-top: 30px;

 }

 h1{
 color: #EEEE;
 margin-bottom: 20px;
 padding-top: 100px;
 padding-bottom: 30px;

 }

 ul{
   list-style-type: none;
   text-align: center;
 }

 /*li {
   float: left;
 }
 */


 li a {
   display: block;
   color: #EEEE;
   text-align: center;
   padding: 30px;
   text-decoration:none;

 }


 nav li {
    display: inline;
    padding: 15px;
    border: 1px solid black;
    margin-left:120px;
    margin-bottom: 10px;
    float: left;
    text-align: center;

 }
 li:hover{
   background-color: #925524;
 }
